<%- include('../partials/header') %>


<main class="main-container">
    <h1 class="title"><%= flight.airline %> Flight <%= flight.flightNo %></h1>
    <div class="new-container">
        <div class="new-fields">
            Airline:
            <div><%= flight.airline %></div>
        </div>
        <div class="new-fields">
            Flight Number:
            <div><%= flight.flightNo %></div>
        </div>
        <div class="new-fields">
            Departure Date
            <div><%= flight.departs %></div>
        </div>
        <a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>
    </div>
    <!-- <form method="POST" action="/flights/<%= flight._id %>/destinations">
        Destination:
        <select name="airport" class="new-choices">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            <option value="DEN">DEN</option>
        </select>
        <label>Arrival Date:
            <input name="arrival" type="datetime-local">
        </label>
        <input type="submit">
    </form> -->

    <h3>Tickets Selected</h3>
    <% if (tickets.length) { %>
    <ul>
        <% tickets.forEach(function(t) { %>
        <li>
            Seat: <%= t.seat %> -
            Price: <%= t.price %>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
    <p>No tickets selected yet</p>
    <% } %>
</main>

<%- include('../partials/footer') %>